Node RED flow/Node red flow.txt
[{"id":"838374b6.2ed2a8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"775a3de9.3f1b34","type":"debug","z":"838374b6.2ed2a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":280,"wires":[]},{"id":"88a28745.37b218","type":"delay","z":"838374b6.2ed2a8","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"8","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":431,"y":370,"wires":[["35ce6d68.192732","d700f85b.965f78","3157a8c2.438718","6d00e103.917a4"]]},{"id":"fbf9a77a.a0ee88","type":"debug","z":"838374b6.2ed2a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":928,"y":356,"wires":[]},{"id":"d700f85b.965f78","type":"function","z":"838374b6.2ed2a8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Air Quality_8\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":662.5,"y":520,"wires":[["18690048.55815","4637f364.089bec"]]},{"id":"18690048.55815","type":"ui_gauge","z":"838374b6.2ed2a8","name":"","group":"2b6491a3.46a7de","order":7,"width":0,"height":0,"gtype":"gage","title":"Air Quality","label":"Quality","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"200","x":862.5,"y":520,"wires":[]},{"id":"6d00e103.917a4","type":"function","z":"838374b6.2ed2a8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Pressure_5\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":775.5,"y":91,"wires":[["c346578.441b5a8","4637f364.089bec"]]},{"id":"35ce6d68.192732","type":"function","z":"838374b6.2ed2a8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Humidity_7\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":775.5,"y":211,"wires":[["c2b5df6a.b54cf","4637f364.089bec"]]},{"id":"4637f364.089bec","type":"function","z":"838374b6.2ed2a8","name":"","func":"\n\n","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["72bcf64b.d73918"]]},{"id":"c2b5df6a.b54cf","type":"ui_gauge","z":"838374b6.2ed2a8","name":"","group":"e214cf52.3e278","order":7,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#a4a4a4","#2f87b7","#008ae6"],"seg1":"10","seg2":"66","x":965.5,"y":211,"wires":[]},{"id":"3157a8c2.438718","type":"function","z":"838374b6.2ed2a8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p[\"Temperature_6\"];\nif (msg.payload === undefined) {\n   // se ejecutan estas instrucciones\n}\nelse {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":677.5,"y":265,"wires":[["21693af2.5aa526","4637f364.089bec"]]},{"id":"21693af2.5aa526","type":"ui_gauge","z":"838374b6.2ed2a8","name":"","group":"2dea4c94.5c2854","order":7,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":"-10","max":"40","colors":["#6477ff","#ffff4a","#ff3535"],"seg1":"17","seg2":"30","x":877.5,"y":265,"wires":[]},{"id":"c346578.441b5a8","type":"ui_gauge","z":"838374b6.2ed2a8","name":"","group":"2b6491a3.46a7de","order":7,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"kPa","format":"{{value}}","min":"30","max":"200","colors":["#ff4a4a","#00e628","#2802ff"],"seg1":"40","seg2":"160","x":965.5,"y":91,"wires":[]},{"id":"4bd5220b.f652bc","type":"mqtt in","z":"838374b6.2ed2a8","name":"","topic":"from_76920f429889041c","qos":"2","datatype":"auto","broker":"9b6a7d9.bd5068","x":170,"y":320,"wires":[["88a28745.37b218","775a3de9.3f1b34"]]},{"id":"6725f591.6eb06c","type":"mqtt out","z":"838374b6.2ed2a8","name":"","topic":"","qos":"","retain":"","broker":"9b6a7d9.bd5068","x":486,"y":148,"wires":[]},{"id":"e971b078.85076","type":"mqtt out","z":"838374b6.2ed2a8","name":"","topic":"","qos":"","retain":"","broker":"9b6a7d9.bd5068","x":400,"y":460,"wires":[]},{"id":"9b69f8e3.47a068","type":"inject","z":"838374b6.2ed2a8","name":"Inj","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":600,"wires":[["2cd8b572.29b70a","72bcf64b.d73918","aaf5cb79.5414d8"]]},{"id":"2cd8b572.29b70a","type":"ui_gauge","z":"838374b6.2ed2a8","name":"","group":"19c8fe81.a32511","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":580,"wires":[]},{"id":"72bcf64b.d73918","type":"function","z":"838374b6.2ed2a8","name":"","func":"if (msg.payload >= 7) {\n    msg.payload = \"Consider taking a break\";\n    return msg;\n  } \n  else if (msg.payload < 7 ) {\n    msg.payload=\"you can continue working\";\n    return msg;\n  }\n  else if (msg.payload > 7){\n    msg.payload=\"We recommend that you stop and take a break\";  \n    return msg;\n      \n  }\n\n","outputs":1,"noerr":0,"x":480,"y":640,"wires":[["d9c00759.3f6d38","3f00fae4.1491b6"]]},{"id":"d9c00759.3f6d38","type":"ui_text","z":"838374b6.2ed2a8","group":"19c8fe81.a32511","order":1,"width":0,"height":0,"name":"","label":"Indicator","format":"{{msg.payload}}","layout":"col-center","x":690,"y":680,"wires":[]},{"id":"3f00fae4.1491b6","type":"debug","z":"838374b6.2ed2a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":740,"wires":[]},{"id":"aaf5cb79.5414d8","type":"debug","z":"838374b6.2ed2a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":540,"wires":[]},{"id":"2b6491a3.46a7de","type":"ui_group","z":"","name":"","tab":"a7126eb3.339cb","order":1,"disp":true,"width":"6","collapse":false},{"id":"e214cf52.3e278","type":"ui_group","z":"","name":"","tab":"a7126eb3.339cb","order":2,"disp":true,"width":"6","collapse":false},{"id":"2dea4c94.5c2854","type":"ui_group","z":"","name":"","tab":"a7126eb3.339cb","order":3,"disp":true,"width":"6","collapse":false},{"id":"9b6a7d9.bd5068","type":"mqtt-broker","z":"","name":"MQTT","broker":"","port":"13853","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"19c8fe81.a32511","type":"ui_group","z":"","name":"Tiredness Level","tab":"a7126eb3.339cb","order":4,"disp":true,"width":"6","collapse":false},{"id":"a7126eb3.339cb","type":"ui_tab","z":"","name":"Covital IoT","icon":"dashboard","disabled":false,"hidden":false}]